@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Baloo+Bhaijaan+2&family=Comforter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Baloo+Bhaijaan+2&family=Comforter&family=Festive&display=swap');

body{
    line-height: 0.8rem;
    background-color: black;
}
title{
    font-weight: bold;
}
#logo{
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 40px;
    color: darkred;
}

#logo img{
    height: 50px;
    filter: invert(1);
}


/* navbar styling,   Caution: don't touch */
.navbar {
    padding: 0;
    color: #fff;
    text-align: center;
    font-family: 'Akaya Telivigala', cursive;
    font-size: 1.5rem;
  }

  .brand-name{
      font-size: 3rem;
      padding-left: 1rem;
      color: white;
  }
  
.nav-item:hover{
    text-decoration: underline;
}


#welcomesection{
    background: center/cover no-repeat url("images/welcome.jpg");

    margin: 0;
    
    display:flex;
    flex-direction: column;
    justify-content: center;
  height: 450px;
  width: 100%;
  background-color: red;
  font-family: 'Akaya Telivigala', cursive;
  font-size: 50px;
}

.stquote{
    padding-top:60px;
}

@media (min-width:800px) {                    /*to apply it only in large screen sizes*/
    .quote:hover{
        font-size: 45px;
   }
}

#makersection{
    text-align: center;
    color: white;
    background-color: black;
}

.card-img-top{
    width: 40%;
    text-align: center;
}

.card-body{
    font-family: 'Akaya Telivigala', cursive;
}

.card-title{
    font-size: xx-large;
}

.col{
    text-align: center;
}

#sponsorsection{
    background-color: darkred;
    height: 200px;
}

#makersection h2{
    font-size: 40px;
}


#sponsors{
    text-align: center;
    justify-content: center;
    padding-bottom: 34px;
    height: 120px;
    max-width: 1000px;
    margin: 27px auto;

}
.spimage{
    height: 100%;
    margin: 15px 34px;
    justify-content: center;
}

#footer{
    color: white;
    padding: 4%;
    text-align: center;
    background-color: black;
    height: 45px;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
