*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-repeat: no-repeat;
    background: url('/login.jpg');
    background-size: cover;
    height: 100vh;
}

.navbar{
    background-color: #760c0c;
    color: white;
    padding: 8px 60px;
    display: flex;
    justify-content: space-between;
}

.navbar ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
}

.navbar ul li{
    list-style: none;
    padding: 0 10px;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.navbar a:hover{
    color:black;
    text-decoration: none;
}

.regPage{
    display: flex;
    flex-direction: row;
}

.regPage h6{
    padding: 2px 6px;
}